    {% load static %}

    {% if 1 is 0 %} <!-- This is for clean up page -->
    <!-- Jquery -->
    <!-- <script src="{% static 'dist/jquery/jquery-3.3.1.min.js' %}"></script> -->
    <!-- Popper.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    {% endif %}
    <script src="{% static 'dist/popper/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
    {% if 1 is 0 %}
    <!-- Custom JavaScript -->
    <!-- <script src="cust/js/b4_sidebar.js"></script> -->
    <!-- Then run the PR.prettyPrint() function once your page has finished loading. -->
    {% endif %}

