{% extends "base.html" %}

{% block content %}
<div class=''>
    <!-- Title, Media, Description and Action Card -->
    {% for obj in object_list %}
    <div class="card pmd-card" style="box-shadow:0 8px 28px 0px #e0e0e0; margin-bottom:18px;">
        <!-- Card Header -->
        <div class="card-header d-flex flex-row" style="background-color:white;">
            <a class="pmd-avatar-list-img" href="javascript:void(0);">
                {% if obj.image  %}
                  <img src="{{ obj.image.url }}" width="40" height="40">
                {% endif %}
            </a>
            <div class="media-body">
                <h3 class="card-title pl-3">
                    <a class="text-dark" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                </h3>
                {% if obj.draft %}
                    <h3>Staff only: Draft</h3>
                {% endif %}
                {% if obj.publish > today %}
                    <h3>Staff Only: Future Post</h3>
                {% endif %}
                <p class="pl-3 card-subtitle d-flex justify-content-between">
                    {% if obj.user.get_full_name %}
                        <span class="text-muted">Author:</span> <a class="text-muted" href="{{ obj.user.get_user_url }}">{{ obj.user.get_full_name }}</a>
                    {% endif %}
                    <small class="ml-1 pl-1">{{ obj.publish }}</small>
                    <small class="ml-1 pl-1">Read: {% if obj.read_time <= 1 %} < 1 Minute {% else %}{{ obj.read_time }} Minutes {% endif %}</small>
                    <small class="ml-1 pl-1 float-right">
                        <a href="#article_update_link_{{ obj.id }}" data-toggle="collapse" aria-expanded="true" class="nav-link dropdown-toggle caret-off text-muted"><i class="fas fa-ellipsis-h"></i></a>
                    </small>
                </p>
                <div class="collapse" id="article_update_link_{{ obj.id }}">
                    {% if instance.user.username == request.user.username %}
                        <p class="float-right">
                            <a class="btn-sm btn-info" href="{{ instance.get_absolute_url }}edit">Edit</a>

                            <a class="btn-sm btn-danger" href="{{ instance.get_absolute_url }}delete">Delete</a>
                        </p>
                    {% else %}
                        <p class="float-right">
                            <a class="btn-sm btn-info" href="#">Bookmark</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Card Media -->
        <div class="d-flex">
            {% for tag in obj.tags %}
            <div class="alert alert-primary" role="alert" style="min-width: 56px;height: 29px;text-align: center; padding:0px !important;">
                <a href="?q={{ tag }}">
                    <span class="text-muted small">{{ tag }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <p class="card-text">{{ obj.get_html|truncatechars_html:120 }}</p>
        </div>


        <!-- Card Actions -->
        <div class="card-footer">
            <a class="btn pmd-btn-flat btn-lg btn-block pmd-ripple-effect btn-outline-primary" href="{{ obj.get_absolute_url }}">Read More</a>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <div class="step-links">
            {% if object_list.has_previous %}
                <a class="btn btn-link text-info" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a class="btn btn-link text-info" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </div>
        <br>
        <br>
    </div>
</div>
{% comment %}  {% endcomment %}
{% endblock content %}
