{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

  {% block current_detail_link %}
    <li class="pull-center"><a class="text-success" href='{{ instance.get_absolute_url }}'>{{ title }}</a></li>
  {% endblock %}


{% block content %}
<div class=''>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
    <h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>


    {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}


    <p><a href="{{ instance.get_absolute_url }}edit">Edit</a>          <a href="{{ instance.get_absolute_url }}delete">Delete</a></p>


    <div class='row'>
        <div class='col-sm-12 '>
           <div class='post-detail-item content-markdown'>{{ instance.description }}</div>
            <hr/>

            {% if instance.hascq %}
            <div>
                <h3>Creative Questions</h3>
                <hr>
                {% for obj in cq_object_list %}
                <div>
                    <ul>
                        <dl class="row">
                            <dt class="col-sm-1">{{forloop.counter}}.</dt>
                            <dd class="col-sm-11">
                                {{ obj.get_html_question }}
                                <hr>
                                <div class="d-flex justify-content-around">
                                    <a href="#cq_ans_{{forloop.counter}}" class="mr-1 p-0" role="button" data-toggle="collapse" data-target="#cq_ans_{{forloop.counter}}"  aria-controls="cq_ans_{{forloop.counter}}" aria-expanded="false" aria-label="Toggle navigation">See answer</a>
                                    <a href="{{ obj.get_absolute_url }}">Detail</a>
                                </div>
                                <div id="cq_ans_{{forloop.counter}}" class="collapse m-3 p-3 card" > <!-- style="display: none; background-color: #f7fbf6;" -->
                                    <div class="card-body thumbnail">
                                    {{ obj.get_html_answer }}
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </ul>
                </div>
                {% endfor %}

            </div>
            {% endif %}

            <br>
            <hr>

            {% if instance.hasmcq %}
            <div>
                <h3>Multiple Choice Questions</h3>
                <hr>
                <div>
                    <form action="#" id="mcq_exam_form">
                {% for obj in mcq_object_list %}
                  <ul>
                    <fieldset>
                      <dl class="row">
                        <dt class="col-sm-1">{{forloop.counter}}.</dt>
                        <dd class="col-sm-11">
                        {{ obj.get_html_question }}

                        <!-- <ol class=""> -->
                        {% for choice in obj.get_html_choices %}
                          <div class="form-check" >
                            <input class="form-check-input" type="radio" name="choice{{obj.id}}" id="exampleRadio-{{obj.id}}-{{forloop.counter}}" value="option{{forloop.counter}}">
                            <label class="form-check-label" for="exampleRadio-{{obj.id}}-{{forloop.counter}}" style="display: inline-block;"> <!-- style="display: inline;" -->
                                {{choice}}
                            </label>
                          </div>
                        {% endfor %}
                        <!-- </ol> -->

                        <div>
                          <!-- <hr> -->
                          <a href="#mcq_ans_{{forloop.counter}}" class="mr-1 p-0" role="button" data-toggle="collapse" data-target="#mcq_ans_{{forloop.counter}}"  aria-controls="mcq_ans_{{forloop.counter}}" aria-expanded="false" aria-label="Toggle navigation">See answer</a>
                          <a href="{{ obj.get_absolute_url }}">Detail</a>
                          <div id="mcq_ans_{{forloop.counter}}" class="collapse card">
                            <div class="card-body thumbnail">                   {% if obj.get_answer_len == 0 %}
                              <p class="text-warning">N.B: <span class="text-info"> No answers exist!</span></p>
                            {% elif obj.get_answer_len > 1 %}
                              <p class="text-warning">N.B: <span class="text-info"> More than 1 answers exist!</span></p>
                              {% for ans in obj.get_html_answer %}
                                <div class="">Answer-{{ forloop.counter }} : {{ ans }}</div>
                              {% endfor %}
                            {% else %}
                                {% for ans in obj.get_html_answer %}
                                  <div class="">Answer : {{ ans }}</div>
                                {% endfor %}
                            {% endif %}
                            </div>
                          </div>
                        </div>

                      </dd>
                      </dl>

                    </fieldset>
                  </ul>
                {% endfor %}
                </form>
            </div>
            </div>
            {% endif %}
            <br>
        </div>
    </div>
</div>


{% endblock content %}
