{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}

{% endblock head_extra %}



{% block content %}
<div class='card'>
    <div class="card-body">
        <div>
            <h3>MCQ Creation Form</h3>
            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                {{ form|crispy }}
                <label for="test_field">Test field:</label>
                <input type="text" name='test_field' value="belal">
                <div id='test_div'></div>
                <input type="button" onclick="addMcqField()" value="+" />
                <input type='submit' class='btn btn-default' value='Create MCQ' />
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block lastscript %}
<script>
    function addMcqField() {
        // var div = document.createElement("div");
        // var node = document.createTextNode("Another New MCQ Field");
        // var link = document.createElement("input");
        // link.setAttribute('id', 'choice_id_1');
        // link.setAttribute('class','m-2 p-2 text-danger');
        // link.setAttribute('style','color: #60c685');
        // link.appendChild(node);
        // input_div = document.getElementById("div_id_choices").childNodes[0];
        input_div = document.getElementById("div_id_choices"); //.getElementsByTagName('div');
        // input_div_child_len = input_div.length;
        input_div_child_len = '4';
        var input_node = document.createElement("input");
        input_node.setAttribute('type', 'text');
        input_node.setAttribute('name', 'choice_'+input_div_child_len);
        input_node.setAttribute('class','textinput textInput form-control');
        input_node.setAttribute('id', 'id_choice_'+input_div_child_len);
        input_node.setAttribute('required', 'True');
        input_node.setAttribute('style','color: #60c685');
        // document.getElementById("div_id_choices").childNodes[0].appendChild(input_node);
        // input_div.appendChild(input_node);
        // document.getElementById("div_id_choices").getElementsByTagName('div').appendChild(input_node);
        // document.getElementById("div_id_choices").getElementsByTagName('div').setAttribute('id', 'input_node_div');
        for (var i = 0; i < input_div.childNodes.length; i++) {
            console.log(input_div.childNodes[i])
        }
        input_div.appendChild(input_node);
        console.log(input_div,input_div_child_len,input_node);
    }
</script>
{% endblock lastscript %}
