<!-- main navbar -->
<div class="">
<nav class="navbar navbar-expand-lg navbar-light  fixed-top cus_navbar_nav p-0 m-0">

    {% if request.user.is_authenticated %}
      <a class="navbar-brand pr-4 text-dark" style="padding-left:70px;" href="{% url 'index' %}">Edunity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " style="justify-content:center; padding: 0px 479px 0px 105px;" id="navbarSupportedContent">
        <ul class="navbar-nav ">

            <li
                {% if '/' == request.path %}
                     class="nav-item active "
                {% else %}
                     class="nav-item"
                {% endif %}
                style="padding:0px 20px;"
            >
            <a
                {% if '/' == request.path %}
                    class="nav-link text-white" href="{% url 'index' %}"
                {% else %}
                     class="nav-link " href="{% url 'index' %}"
                {% endif %}

            ><div class="row" style="display:-webkit-inline-box;"><i class="fas fa-home pr-2 d-flex" style="padding:5px 0px;"></i><p>Home</p></div></a>
            </li>
            <li
                {% if 'article' in request.path %}
                     class="nav-item active "
                {% else %}
                     class="nav-item"
                {% endif %}
                style="padding:0px 20px;"
            >
            <a
                {% if 'article' in request.path %}
                    class="nav-link text-white" href="{% url 'index' %}"
                {% else %}
                     class="nav-link " href="{% url 'article:list' %}"
                {% endif %}
            >Article</a>
            </li>

            <li
                {% if 'mcq' in request.path %}
                  class="nav-item dropdown active"
                {% else %}
                    class="nav-item dropdown"
                {% endif %}
                style="padding:0px 20px;"
            >

                <a
                    class="nav-link dropdown-toggle"
                    href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                >
                    Practics Exam
                </a>
                <div class="dropdown-menu color_org p-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item .color_org_change" href="{% url 'mcq:list' %}">MCQ</a>
                    <a class="dropdown-item .color_org_change" href='{% url "cq:list" %}'>CQ</a>
                </div>
            </li>
            <!-- start  -->
            <li class="nav-item dropdown "  style="padding:0px 20px;">
                <a href="#" class="nav-link dropdown-toggle caret-off " data-toggle="dropdown" data-target="#dropdown_target_exam" role="button" aria-haspopup="true" aria-expanded="false" title="Exam">Try Exam</a>
                <ul class="dropdown-menu color_org m-0 p-0" aria-labelledby="dropdown_target_exam" style="border:none !important;">
                    <li><a class="dropdown-item" href="{% url 'exam:list' %}">Exam</a></li>
                    <li><a class="dropdown-item" href="{% url 'cqexam:list' %}">CQ Exam</a></li>
                    <li><a class="dropdown-item" href="{% url 'mcqexam:list' %}">MCQ Exam</a></li>
                    <li><a class="dropdown-item" href="#">More</a></li>
                </ul>
            </li>
             <!--  -->
             <li class="nav-item dropdown">
                    {% notifications_unread as unread_count %}
                    <a href="#" class="nav-link dropdown-toggle caret-off text-white" data-toggle="dropdown" data-target="#dropdown_target_notifications" role="button" aria-haspopup="true" aria-expanded="false" title="{% if unread_count %}You have {{ unread_count }} unread notifications.{% endif %}">
                        <p class="d-none d-lg-inline-block">
                            {% live_notify_badge badge_class="badge bg-warning" %}
                        </p>
                    </a>
                    <!-- {% live_notify_list  %}  -->
                <ul id="notify_list" class="dropdown-menu" aria-labelledby="dropdown_target_notifications">
                </ul>
            </li>
            <!--  -->
            <li class="nav-item " style="padding:0px 20px;" >
                <a class="nav-link d-flex flex-row" href='{% url "accounts:profile" %}'>
                    <img class="" src="{{request.user.image.url}}" alt="" style="height: 30px; width: 30px; border-radius: 50%; margin-right:8px;"/>
                    <span class="d-flex flex-row text-white"> @{{request.user.username}}</span>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href='{% url "logout" %}'>Logout</a></li>

        </ul>
        </div>
</nav>
    {% else %}

    <nav class="navbar navbar-expand-lg navbar-light  fixed-top cus_navbar_nav ">
            <a class="navbar-brand pr-4 text-dark" href="#">Edunity</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-justified justify-content-around">
            <li class="nav-item"><a class="nav-link" href='{% url "register" %}'>Register</a></li>
            <li class="nav-item"><a class="nav-link" href='{% url "login" %}'>Login</a></li>
          </ul>
        </div>
    </nav>
    {% endif %}
            <!-- end -->
            <!-- working -->
            <!-- <li class="nav-item dropdown">
                    {% notifications_unread as unread_count %}
                    <a href="#" class="nav-link dropdown-toggle caret-off text-white" data-toggle="dropdown" data-target="#dropdown_target_notifications" role="button" aria-haspopup="true" aria-expanded="false" title="{% if unread_count %}You have {{ unread_count }} unread notifications.{% endif %}">
                        <p class="d-none d-lg-inline-block">
                            {% live_notify_badge badge_class="badge bg-warning" %}
                        </p>
                    </a>
                    {% live_notify_list  %}
                <ul id="notify_list" class="dropdown-menu" aria-labelledby="dropdown_target_notifications">
                </ul>
            </li> -->
            <!-- working end-->
</div>
<!-- main navbar end -->
